<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="ticketService" class="com.flamingos.osp.service.TicketService"></bean>
	<bean id="ticketDao" class="com.flamingos.osp.dao.TicketDao"></bean>
        <bean id="userBean" class="com.flamingos.osp.bean.UserBean"></bean>
        
        
	
	<!-- Properties File -->
	<context:property-placeholder location="file:/home/computer2/installation/apache-tomcat-8.0.30/conf/osp.properties" />
	
</beans>